body {
  background-color: rgba(29, 19, 19, 0.836);
  font-family: 'Bebas Neue', cursive;
}

/*logo*/
.logopanda {
  width: 150px;
  height: 150px;
  margin-top: 0%;
padding-left: 0%;

}

body {
  background-color: rgba(29, 19, 19, 0.836);
  font-family: 'Bebas Neue', cursive;
}

.boton, .boton-nombre, .boton-apellido, .boton-telefono, .boton-email, .boton-texto {
  background-color: black;
  color: white;
  border-radius: 4px;
}

.boton-nombre {
  background-color: white;
  width: 300px;
  height: auto;
}

.boton-apellido {
  background-color: white;
  width: 300px;
  height: auto;
  color: white;
}

.boton-telefono {
  background-color: white;
  width: 300px;
  height: auto;
}

.boton-email {
  background-color: white;
  width: 300px;
  height: auto;
}

.boton-texto {
  background-color: white;
  width: 100%;
  height: 130px;
  color: white;
  margin-top: 10px;
}

/**********NAV***********/
.nav-item {
  padding: 10px;
}

.nav-link:hover {
  background-color: rgba(43, 12, 12, 0.493);
}

/*****MAIN*****/
.main-menu {
  margin-top: 20px;
}

.main-promo {
  margin-top: 20px;
  padding-left: 20px;
}

/*****CARRUSEL*****/
.carousel-item {
  height: 400px;
}

.carousel-item img {
  height: 400px;
}

/*****UBICACION*****/
.ubicacion {
  margin-top: 5px;
  color: azure;
}

.ubicacion1 {
  font-size: 20px;
  color: rgba(7, 255, 255, 0.493);
  margin-top: 26px;
  
}

.mapa {
  margin-top: 0px;
}

/*formulario socio/cliente*/
form {
  margin-top: 20px;
}

.formulario {
  margin-top: 20px;
}

.formulario__1 {
  text-align: center;
  font-family: serif;
  font-size: 25px;
  color: black;
}

.formulario__1:hover {
  background-color: rgba(68, 144, 214, 0.664);
}

/*QUIENES SOMOS?*/

.quienes-somos {
  color: red;
  border: 3px solid black;
  background-color: white;
  font-size: 30px;
}

.quienes-somos:hover {
  color: white;
  background-color: black;
  border: 3px solid red;
}

.qs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: burlywood;
}

.quienes {
  color: white;
  text-align: center;
}

.quienes__1 {
  color: white;
  margin-top: 15px;
  text-align: center;
  font-size: 25px;
  font-family: initial;
  background-color: rgba(165, 42, 42, 0.473);
}

.quienes__1:hover {
  color: #d4d3ff;
}

.cocina {
  font-size: 20px;
  color: rgba(7, 255, 255, 0.493);
}

/*******FOOTER******/
footer {
  margin-top: 10px;
}

footer ul {
  margin: 0%;
  padding: 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 560px;
  -webkit-box-pack: 70px space-between;
      -ms-flex-pack: 70px space-between;
          justify-content: 70px space-between;
}

footer .ani_footer {
  color: #3b3bbd;
}

footer .ani_footer2 {
  color: #d61faf;
}

footer .ani_footer3 {
  color: #269739;
}

footer .ani_footer1:hover {
  color: rgba(54, 54, 216, 0.849);
}

footer .ani_footer2:hover {
  color: rgba(228, 51, 228, 0.973);
}

footer .ani_footer3:hover {
  color: rgba(22, 187, 96, 0.863);
}

body {
  background-color: rgba(29, 19, 19, 0.836);
  font-family: 'Bebas Neue', cursive;
}

.boton, .boton-nombre, .boton-apellido, .boton-telefono, .boton-email, .boton-texto {
  background-color: black;
  width: 300px;
  height: auto;
}

.boton_1 {
  background-color: black;
  width: 300px;
  height: auto;
}
.separador__1{
  margin: auto;
}
/*# sourceMappingURL=style.css.map */