@import "_variables";

.separador__1{
    border: map-get($boton , margen );
    padding: map-get($boton,  padding-left );
    color: map-get($boton, color );
        &:hover{
            background-color: #811a00;
            color: rgb(192, 37, 37)
        }
}

.boton{
    @extend .separador__1;
    @include propiedadesPrincipales( black,300px ,auto );
}
.boton_1{
    @extend .separador__1;
    @include propiedadesPrincipales(rgb(0, 0, 0),300px ,auto );
    
}


