<<<<<<< HEAD
$separador__1:(
    padding-left: 30px ,
    margen: auto ,
    color: rgb(173, 30, 5),
    );
=======
$boton:( 
fondo: rgb(0, 0, 0),
color: rgb(255, 255, 255),
radio: 4px ,

);
>>>>>>> animaciones
@mixin propiedadesPrincipales ($bg-color, $width, $heigth) {
        background-color: $bg-color;
        width: $width;
        height: $heigth;
}


body{background-color: rgba(29, 19, 19, 0.836);
    font-family: 'Bebas Neue', cursive;}

/*logo*/
.logopanda{
    width: 150px;
    height: 150px;}